<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175776267541-rvslb6njn14deccoh9v1bqg38bjn701n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175776267541-rvslb6njn14deccoh9v1bqg38bjn701n</string>
	<key>API_KEY</key>
	<string>AIzaSyDB889w54yH2mJJ7XO5cpQXbkOb69RTOG8</string>
	<key>GCM_SENDER_ID</key>
	<string>175776267541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prajjwal.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-8d085</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-8d085.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175776267541:ios:e8262d2441f506297ebd1c</string>
</dict>
</plist>